.card-container{
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    margin-right: 60px;
}

.card{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 201px;
    height: 183px;
    background: linear-gradient(110deg, #18183f 0%, #010113 130%);
    border-radius: 10px 60px 10px 100px;
    margin-right: 60px;
}

.img-card{
    width: 70px;
}

.text-card{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
    color: #CECECE;
    text-align: center;
    text-decoration: none;
}
